html,
body {
  height: 100%;
  margin: 0;
}

body {
  // align-items: center;
  display: flex;
  justify-content: center;

  background: linear-gradient(to bottom right, #8dd5f3, #00597d);
  font-size: 1.5rem;
}

main {
  color: #555555;
  font-family: sans-serif;
  text-align: center;
}

.logo {
  width: 20%;
  height: auto;

  top: 0%;
  right: 0%;

  position: absolute;
}
